docs
cobertura.ser
project/boot/
target/
lib_managed/
/lib/
project/plugins/src_managed/
*.iws
derby.log
.idea
*.iml
.history
.cache
.classpath
.externalToolBuilders
.project
.scala_dependencies
.settings/
