body {
	margin:0px 0px 10px 0px;
	margin-right:10px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	color:#333;
	background-color:white;
}
h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:18px;
	line-height:18px;
	font-weight:900;
}
h2 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:18px;
	line-height:18px;
	font-weight:900;
	color:#ccc;
}
h3 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:14px;
	line-height:14px;
	/*font-weight:900;
	color:#ccc;*/
    font-style: italic;
}
p {
	font:12px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
}

#header {
    margin:50px 0px 10px 0px;
    padding:17px 0px 0px 20px;
    /* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
    height:33px; /* 14px + 17px + 2px = 33px */
    border-style:solid;
    border-color:black;
    border-width:1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
    line-height:11px;
    background-color:#eee;
    voice-family: "\"}\"";
    voice-family:inherit;
    height:14px; /* the correct height */
}
body>#header {height:14px;}

#main>p {margin:0px;}
#main>p+p {text-indent:30px;}

#main {
	margin:0px 50px 50px 220px;
	padding:30px;
	}

#navcontainer {
    width: 150px;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-left: 30px;
	position:absolute;
	top:100px;
	left:20px;
	width:172px;
	padding:10px;
	border:1px dashed #999;
	line-height:17px;
	voice-family: "\"}\"";
	voice-family:inherit;
}
/* Again, "be nice to Opera 5". */
body>#navcontainer {width:150px;}

#navcontainer ul
{
list-style-type: none;
margin-left: 0;
padding-left: 0;
}

#navlist a
{
display: block;
color: #8592BB;
padding: 1px 0 1px 8px;
}

/*boxmodel hack. http://css-discuss.incutio.com/?page=BoxModelHack SBMH*/
#navlist a { width: 114px; }

#navlist a
{
\width: 130px;
w\idth: 114px;
}

#subnavlist a
{
display: block;
color: #9C9C9C;
padding: 1px 0 1px 8px;
margin-left: 8px;
}

/*boxmodel hack. http://css-discuss.incutio.com/?page=BoxModelHack SBMH*/
#subnavlist a { width: 106px; }

#subnavlist a
{
\width: 122px;
w\idth: 106px;
}

#navlist a, #navlist a:visited,#subnavlist a, #subnavlist a:visited
{
border-left: 8px solid #eee;
background: #eee;
color: #9C9C9C;
text-decoration: none;
}

#navlist a:hover, #navlist a#current:hover
{
border-left: 8px solid #CCCCCC;
text-decoration: underline;
}

#subnavlist a:hover, #subnavlist a#subcurrent:hover
{
border-left: 8px solid #CCCCCC;
text-decoration: underline;
}
/*
a#current, a:visited#current, a#subcurrent , a:visited#subcurrent
{
border-left: 8px solid #283D82;
background: #F3F5FC;
color: #283D82;
text-decoration: none;
}
*/
a#active{
color: #000000;
text-decoration: underline;
}
